body {
  font-size: 16px;
}

main {
  min-height: 100vh;
}

.error-block {
  display: flex;
  justify-content: center;
  align-items: center;

  .error-404 {
    font-size: 250px;
  }
}

.shop-now {
  outline: none;
  border: none;
  padding: 10px 20px;
  background: #3954d9;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

@import "core/reset";
@import "core/font";
@import "blocks/menu";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/main_front-page";
@import "blocks/main_single";
@import "blocks/archive";