#single {
	width: 1000px;
	margin: auto;
	padding: 100px 0 100px 0;

	.product {
		display: flex;

		.img {
			border-radius: 10px;

			.img-content {
				width: 450px;
				height: 450px;
				border-radius: 5px;
			}
		}

		.buy-box {
			display: flex;
			justify-content: space-around;
			align-items: center; 
			width: 100%;
			margin-top: 50px;

			.price {
				font-family: "Montserrat", sans-serif;
				font-size: 3em;
				font-weight: bold;
				color: #3954d9;
			}
		}

		.info {
			padding: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.title {
				font-family: "Roboto", sans-serif;
       			font-size: 2.5em;
       			text-transform: uppercase;
			}

			.headline-baseline-base {
				font-weight: bold;
				margin: 5px;
			}

			p, ul {
				margin-top: 10px;
				font-family: "Montserrat", sans-serif;
    			line-height: 1.2em;
    			color: #8a8a8a;
			}

			ul {
				list-style: square;
			}
		}
	}
}

@media (max-width: 1000px) {
    #single {
		width: 100%;

		.product {
			flex-direction: column;

			.img {
				display: flex;
				flex-direction: column;
				align-items: center;

				.img-content {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 780px) {
    #single {
		.product {
			.img {
				.buy-box {
					flex-direction: column;

					.shop-now {
						margin: 10px;
					}
				}
			}
		}
	}
}